/*---------------------------------------------*/
/*BASIC SETUP*/
/*---------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border:0;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    /*This will make fonts render better*/
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}



/*clearfix will clear the float after an element, it will be added to the section-meals ul cause it is the parent of the li elements that have the float property*/
.clearfix {zoom:1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*
Orange color #e67e22
*/



/*---------------------------------------------*/
/*REUSABLE COMPONENTS*/
/*---------------------------------------------*/

.row {
    max-width: 1140px;
    /*set mergin (top right buttom left)*/
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/*------HEADINGS------*/
h1,
h2,
h3 {
    font-weight: 300;
    /*transorm text to uppercase*/
    text-transform: uppercase;
}

h1 {
    /*getting rid of the top mergin made by normalize file for the h1 heading*/
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    /*font-size will be % of the html font-size*/
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

/*Line after the h2 heading*/
h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    /*whenever we work with after pseudo class we have to specify its content*/
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}



/*------PARAGRAPHS------*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}
/* select all paragraphs inside box*/
.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ----- ICONS ----- */
.icon-big {
    font-size: 350%;
    /*This will force a line break unlike inline display*/
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    
    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* ----- LINKS ----- */
a:link,
a:active{
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;

}

a:hover,
a:visited{
    color: #555;
    border-bottom: 1px solid transparent;
}


/* ----- BUTTONS ----- */

/*link->element in normal state*/
/*this way the button link/visited have the same style */
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    /*set latency of the transition of background color, border and color*/
    -webkit-transition: backgroung-color 0.2s, border 0.2s, color 0.2s;
    transition: backgroung-color 0.2s, border 0.2s, color 0.2s;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #cf6d17;
}


.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    /*setting up the border of the button*/
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-full:hover,
.btn-full:active,
input[type=submit] {
    /*setting up the border of the button*/
    border: 1px solid #cf6d17;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}


.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #e67e22;
    color: #fff;
}



/*---------------------------------------------*/
/*HEADER*/
/*---------------------------------------------*/
header{
    /*including the background image*/
    /*& make the background img darker*/
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.7)),to(rgba(0, 0, 0, 0.7))),url(img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(img/hero.jpg);
    /*resizeing and centring the background img*/
    background-size: cover;
    background-position: center;
    /*set the image to the whole view port*/
    height: 100vh;
    /*fixes the image when scrolling up or down*/
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    /*translate the element half of it's height/width -50% to the left/top*/
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}


.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

/* main navigation */
.main-nav {
    float: right;
    /*getting rid of the list style*/
    list-style: none;
    margin-top: 55px;
}

/*selecting all li elements inside the main-nav*/
.main-nav li{
    /*inline-block will make them side by side*/
    display: inline-block;
    margin-left: 40px;
}

/*selecting all a elements inside li elements inside the main-nav of th ul*/

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}


.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}


/* Mobile navigation */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}

/* sticky navigation */
.sticky {
    /*with this property the navigation has a fixed position*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav { 
    margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding: 16px 0;
    color: #555;
}

/*if logo/logo-black are within sticky class this happens */
.sticky .logo { display: none; }
.sticky .logo-black { display: block;}

/*---------------------------------------------*/
/* FEATURES */
/*---------------------------------------------*/
.section-features .long-copy{
    margin-bottom: 30px;
}

/*---------------------------------------------*/
/* MEALS */
/*---------------------------------------------*/

.section-meals{
    padding: 0;
}


.meals-showcase{
    list-style: none;
    /*this will take 100% of the browser width*/
    width: 100%;
}

.meals-showcase li {
    /*this will force line break*/
    display: block;
    /*show list elements side by side*/
    float: left;
    width: 25%;
}

.meal-photo {
    /*meal-photo element will have 100% width of its parent (.meals-showcase li)*/
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    /*this makes the image opaque, but since its background is white it'll look slightly pale, which is why we need to change its container's background to black in meal-photo*/
    opacity: 0.7;
    /*this will make sure that image is exactly as wide as its container/parent (.meal-photo)*/
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    /*this will animate both transform and opacity*/
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.meal-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

/*---------------------------------------------*/
/* HOW IT WORKS */
/*---------------------------------------------*/


.section-steps {
    background-color: #f4f4f4;
}


/*This will select the first of the step-boxes in this case the left one*/
.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
    
}


/*This will select the last of the step-boxes in this case the right one*/
.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 50%;
}

.works-step{
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div{
    color: #e67e22;
    /*creating a border around the numbers*/
    border: 2px solid #e67e22;
    display: inline-block;
    /*This will make the border a circle*/
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}


.btn-app:link,
.btn-app:visited{
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}


/*---------------------------------------------*/
/* CITIES */
/*---------------------------------------------*/


.box img {
    /*100% of the the box and not the total window width*/
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}

/*---------------------------------------------*/
/* CUSTOMER TESTIMONIALS */
/*---------------------------------------------*/

.section-testimonials {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.8)),to(rgba(0, 0, 0, 0.8))),url(img/back-customers.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    /*fixes the image when scrolling up or down*/
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    display: block;
    font-size: 500%;
    /*in order to make an element's position absolute we need to make its parent's position relative*/
    position: absolute;
    top: -5px;;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}




cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


/*---------------------------------------------*/
/* SIGN UP */
/*---------------------------------------------*/

.section-plans {
    background-color: #f4f4f4;
}


.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    /*center the plan-box (5% of the remaining 10% left from 90% width)*/
    margin-left: 5%;
    /*x y blur color*/
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
}


.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-box ul {
    list-style: none;
}

.plan-box li {
    padding: 5px 0;
}


.plan-price  {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}


/*---------------------------------------------*/
/* CONTACT FORM */
/*---------------------------------------------*/



.contact-form {
    width: 90%;
    margin: 0 auto;
}


input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}


textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

input[type=submit]{
    cursor: pointer;
}


*:focus {
    outline: none;
}

.map-box {
    width: 100%;
    height: 560px;
    position: relative;
}

.map {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}

.form-box {
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
    height: 100%;
    padding-top: 40px;
}



/*---------------------------------------------*/
/* FOOTER */
/*---------------------------------------------*/


footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}


.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}


.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
    
}

.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active,{
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 160%;
}


.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover{
    color: #3b5998;
}

.ion-social-twitter:hover{
    color: #00aced;
}

.ion-social-googleplus:hover{
    color: #dd4b39;
}

.ion-social-instagram:hover{
    color: #517fa4;
}

footer p{
    color: #888;
    text-align: center;
    margin-top: 20px;
}


/*---------------------------------------------*/
/* Animations */
/*---------------------------------------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3 {
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-1 .animated,
.js--wp-2 .animated,
.js--wp-3 .animated {
    opacity: 1;
}
